.main {
  padding: 1rem;
  background-color: #3f3f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

.card {
  background-color: #585858;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  transition: transform 0.2s ease-in-out;
  text-align: center;
  height: 100%;
}

.card:hover {
  transform: translateY(-10px);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.movieImage {
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: auto;
  max-height: 200px;
}

.titleframe {
  flex-grow: 1;
  margin-top: 10px;
}

.title h1 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2;
  height: fit-content;
  text-align: left;
  color: #999999;
}
.card h2 {
  font-size: 1rem;
  line-height: 1.2;
  color: #fff;
}

.card p {
  font-size: 0.8rem;
  padding: 6px;
  text-align: left;
  height: 100%;
    color: #999999;

}

.singleMovieContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.singleMovieContainer h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.singleMovieContainer p {
  font-size: 1.1rem;
  margin-top: 10px;
}

.singleMovieContainer img {
  border-radius: 10px;
  margin-bottom: 20px;
  width: 30%;
  height: 30%;
}

.searchContainer {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.searchBar {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #b3b4bd;
  border-radius: 5px;
  outline: none;
  transition: border 0.2s ease-in-out;
}

.searchBar:focus {
  border-color: #0070f3;
}

.noResults {
  font-size: 1.2rem;
  color: red;
  text-align: center;
  margin-top: 20px;
}

.dark {
  background-color: rgb(246, 250, 21);
  color: white;
}
